name: Release to PyPI

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Create release and publish to PyPI
        uses: raven-wing/ez-python-release@initial
        with:
          python-version: "3.10"
          github_app_id: ${{ secrets.MY_RELEASER_ID }}
          github_app_private_key: ${{ secrets.MY_RELEASER_PRIVATE_KEY }}

  publish-to-pypi:
    environment:
      name: pypi
      url: https://pypi.org/p/platzky-msgbar
    runs-on: ubuntu-latest
    needs: release
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
        with:
          packages-dir: dist
