name: Release to PyPI

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/platzky-msgbar
    steps:
      - name: Create release and publish to PyPI
        uses: raven-wing/ez-python-release@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          python-version: "3.10"
          publish_to_pypi: "true"
