name: Testing pipeline

on:
  pull_request:
    branches:
      - main
      - feature/plugin-with-tests
  push:
    branches:
      - main
      - feature/plugin-with-tests

permissions:
  contents: 'read'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry==1.7.1
        poetry install
    - name: Run linters
      run: make lint-check

    - name: Run unit-tests
      run: make unit-tests

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install Cypress
      working-directory: tests/e2e_tests
      run: |
        npm install cypress

    - name: Run e2e tests
      run: |
        poetry run flask --app "platzky.platzky:create_app(config_path='tests/e2e_tests/e2e_test_config.yml')" run --debug --host=localhost &
        sleep 6
        cd tests/e2e_tests && npx cypress run --spec "cypress/e2e/**/*"




